{% extends "staff/dashboard_base.html" %}
{% load bookings_extras %}
{% load staticfiles %}
{% csrf_token %}
{% block title %}
<title>RS | Звукорежиссер</title>
{% endblock %}
{% block sidebar_color %}
    <div class="sidebar" data-color="purple" data-image="{% static 'dashboard-assets/img/sidebar-1.jpg' %}">
    <!--   the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
{% endblock %}

{% block nav-active %}
            <ul class="nav">
                <li class="active">
                    <a href="">
                        <i class="pe-7s-note2"></i>
                        <p>Записи</p>
                    </a>
                </li>
            </ul>
{% endblock %}

{% block table_title %}
    <a class="navbar-brand" href="#">Панель Звукорежиссера | Список броней</a>
{% endblock %}
{% block main-content %}
<div class="content">
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                <form name="profile" method="POST">
                  {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group date">
                        <input placeholder="Выберите дату" type="text" name="date" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                      </div>
                    </div>
                      <div class="col-md-6 text-left">
                        <button class="btn btn-fill btn-success" type="submit">Поиск</button>
                        <a class="btn btn-fill btn-danger" name="cancel" href="javascript:window.location='/staff'">Отмена</a>
                      </div>
                    </div>
                    </form>
                  </div>
              </div>
              <div class="content table-responsive table-full-width">
                  <table class="table table-hover table-striped">

                      <thead>
                        <th>Дата</th>
                            <th>Время начала</th>
                            <th>Пользователь</th>
                            <th>Статус брони</th>
                      </thead>
                      <tbody>
                    {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.date }}</td>
                                <td>{{ booking.start }}</td>
                                <td>{{ booking.user.first_name }} {{ booking.user.last_name }}</td>
                                <td>{{ booking.get_is_active_display }}
                                    {% if booking.is_active == 1 %}
                                        <a class="btn btn-danger btn-fill"
                                           href="{% url 'cancel_booking' booking.id %}">Отменить</a>
                                        <a class="btn btn-success btn-fill"
                                           href="{% url 'start_record' booking.id %}">Начать запись</a>
                                    {% elif booking.is_active == 2 %}
                                        <a class="btn btn-fill btn-warning" href="{% url 'start_record' booking.id %}">Продолжить
                                            запись</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
{% endblock %}
{% block custom_scripts %}
<script>
$('.input-group.date').datepicker({
format: "yyyy-mm-dd",
language: "ru",
autoclose: true,
todayHighlight: true,
orientation: "bottom auto",
defaultDate: new Date()
});
</script>
{% endblock %}
</body>
</html>
